*.pl
*.db
*.eff
*.Log
*.doc
*.pwds
*.idx
*.eot
*.docx
*.svg
*.dll
*.cbchb
*.Rproj
*.jpg
*.restart
*.css
*.sample
*.xml
*.pdf
*.R
*.val
*.Rd
*.ico
*.utl
*.bak
*.js
*.vfd
*.vd
*.zip
*.r
*.sav
*.db3
*.ser
*.xlsm
*.JPG
*.position
*.cho
*.exe
*.att
*.RData
*.def
*.woff
*.pdb
*.htm
*.bat
*.dat
*.hbu
*.log
*.con
*.lnk
*.pptx
*.dta
*.mrs
*.SAV
*.csv
*.ttf
*.msg
*.SPS
*.png
*.xlsx
*.vp
*.woff2
*.pack
*.INI_1
*.pper
*.xls
*.7z
*.labels
*.ini
*.GIF
*.mp4
*.md
*.config
*.INC
*.gif
*.mtrx
*.iml
*.Download
*.ssi
*.cgi
*.json
*.INI
*.html
